body {
  margin: 0;
  background-color: black;
  color: white;
}

.rye-regular {
  font-family: 'Rye', serif;
  font-weight: 400;
  font-style: normal;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner .content .title {
  /* font-family: 'Hallowed Grounds'; */
  font-size: 6em;
}

.banner::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;

  mask-image: url('ink3.png');
  mask-size: cover;
  mask-position: center;
}
